**Machine Learning Data Pipeline (Short Steps)**

1. **Understand Data** – Load, inspect types, nulls, and distributions.
2. **Clean Data** – Handle missing values, outliers, duplicates, fix types.
3. **Feature Engineering** – Create new features, encode categorical, scale numeric.
4. **EDA** – Analyze correlations, patterns, target distribution.
5. **Split Data** – Train/test/validation (use stratified if classification).
6. **Train Model** – Fit baseline models, cross-validate.
7. **Evaluate Model** – Check metrics (accuracy, RMSE, etc.), confusion matrix.
8. **Tune Model** – Hyperparameter tuning, feature selection, advanced models.
9. **Interpret Model** – Feature importance, SHAP/LIME.
10. **Deploy Model** – Save model, create API (FastAPI/Flask), test inference.
11. **Monitor Model** – Watch for drift, retrain on new data.

## 1. Understand the data

#### Imports

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pltq
import seaborn as sns

from sklearn.model_selection import train_test_split

In [6]:
#load the data
df = pd.read_csv('data.csv', sep=',')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [7]:
df.describe()

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response
count,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000
mean,190555.000000,38.822584,0.997869,26.388807,0.458210,30564.389581,112.034295,154.347397,0.122563
std,110016.836208,15.511611,0.046110,13.229888,0.498251,17213.155057,54.203995,83.671304,0.327936
min,1.000000,20.000000,0.000000,0.000000,0.000000,2630.000000,1.000000,10.000000,0.000000
25%,95278.000000,25.000000,1.000000,15.000000,0.000000,24405.000000,29.000000,82.000000,0.000000
50%,190555.000000,36.000000,1.000000,28.000000,0.000000,31669.000000,133.000000,154.000000,0.000000
75%,285832.000000,49.000000,1.000000,35.000000,1.000000,39400.000000,152.000000,227.000000,0.000000
max,381109.000000,85.000000,1.000000,52.000000,1.000000,540165.000000,163.000000,299.000000,1.000000